input, select, textarea {
    width: calc(100% - $gutter - $borderRadius);
    padding: $gutter * 2;
    @include fontSize(1.6);
    background-color: $white;
    border: 1px solid $black;
    border-radius: $borderRadius;
}

textarea {
    min-height: 200px;
}

.input {
    &--transparent {
        background-color: transparent;
        border: 1px solid $white;
    }
}

label.required::after {
    content: " *";
}